<app-l-header></app-l-header>
<!-- End Navbar -->
<div class="wrapper wrapper-full-page">
  <div class="page-header login-page header-filter" filter-color="black" style="background-image:
  url('../../assets/images/sleeksolutions.jpg'); background-size: cover; background-position: top center;">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="container end">
      <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
          <div class="card card-login card-hidden">
            <div class="card-header card-header-warning text-center">
              <h4 class="card-title">LOGIN</h4>
              <div class="social-line">
               Login to your account
              </div>
            </div>
            <form novalidate  #loginForm="ngForm" (ngSubmit)="loginProcess()">
              <div class="card-body">
                <!--<span class="font-weight-bold red" >{{ errorMessage | titlecase }}</span>-->
                <!--Email-->
                <div class="bmd-form-group pb-3">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">email</i>
                      </span>
                    </div>
                    <input type="email" class="form-control" placeholder="Email"
                           #email="ngModel" id="email"
                           [(ngModel)]="credentials.email" [ngModelOptions]="{standalone: true}" required>
                    <!-- minlength="4"-->
                  </div>
                </div>
                <!--Password-->
                <div class="bmd-form-group pb-3">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="password" class="form-control " placeholder="Password" #password="ngModel" id="password" [(ngModel)]="credentials.password" [ngModelOptions]="{standalone: true}" required>
                    <!-- minlength="8"-->
                  </div>
                </div>
              </div>
              <div class="card-footer justify-content-center">
                <button type="submit" class="btn btn-warning btn-lg" [disabled]="password.errors || email.errors || loading">
                  <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                  LOGIN TO ACCOUNT
                </button>
              </div>

              <div class="text-left ForgotPassClass" style="font-size: 13px;">
                <p class="px-2 text-center" style="padding: 10px 15px; border-radius: 8px; border: 1px solid #ff9800;
                box-shadow:
                 0 2px 2px 0 rgb(255 152 0 / 14%), 0 3px 1px -2px rgb(255 152 0 / 20%), 0 1px 5px 0 rgb(255 152 0 / 12%); margin:
                12px 61% 6px 5px;">
                  <a href="javascript:void(0)" [routerLink]="['/forgot-password']" class="text-rose">
                    Forgot Password?
                  </a>
                </p>
              </div>
            </form>
          </div>
      </div>
    </div>

    <footer class="footer">
      <app-l-footer></app-l-footer>
    </footer>
  </div>
</div>
