<div id="overlay">

  <div class="container" style="
    margin-top: 7%;
">
    <div class="col-md-4 ml-auto mr-auto">
      <div class="card card-profile text-center card-hidden">
        <div class="card-header ">
          <div class="card-avatar">
            <a href="#pablo">
              <img class="img" src="../../assets/images/img1.jpg">
            </a>
          </div>
        </div>
        <div class="card-body ">
          <h4 class="card-title" *ngIf="currentUser">
            {{currentUser.firstName + " " + currentUser.lastName}}
          </h4>
          <!--<div class="form-group">
            <label for="exampleInput1" class="bmd-label-floating">Enter Password</label>
            <input type="password" class="form-control" id="exampleInput1" [(ngModel)]="credentials.password"
                   [ngModelOptions]="{standalone: true}" autocomplete="false">
          </div>-->
          <div class="input-group" style="border: 1px solid lightgray; border-radius: 12px 12px 5px 12px;">
            <div class=" input-group-prepend">
              <div class=" input-group-text">
                <i class="fa fa-key" aria-hidden="true"></i>
              </div>
            </div>
            <input class="form-control" placeholder="Password" type="text" [(ngModel)]="credentials.password"
                   [ngModelOptions]="{standalone: true}" autocomplete="false">
          </div>
        </div>
        <div class="card-footer justify-content-center">
          <button type="submit" class="btn btn-warning btn-lg loginButton" (click)="loginProcess()">
            <!--<button type="submit" class="btn btn-warning btn-lg" [disabled]="password.errors || email.errors || loading">-->
            <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
            Unlock
          </button>
        </div>
        <div  style="font-size: 13px;">
          <p class="text-left px-2">
            Forgot Account Password?
            <a href="javascript:void(0)" [routerLink]="['/forgot-password']" class="text-rose">
              Forgot Password?
            </a>
          </p>
        </div>

      </div>
    </div>
  </div>

</div>
