<div class="wrapper">

  <app-sidebar></app-sidebar>

  <!--<div class="main-panel" style="background-color: rgba(60,72,88,0.7);">-->
  <div class="main-panel">
    <!--<div class="main-panel" style=" background-image:url('../../../assets/img/card-3.jpg');
  background-size: cover; background-position: top center;">-->
    <app-header class="mb-5"></app-header>

    <div class="AdminRoutes" style="min-height: 68vh">
      <div class="mt-sm-6" style="margin-top:5%;padding: 0 22px;">
        <router-outlet class=""></router-outlet>
      </div>
    </div>


    <app-footer></app-footer>

   <!-- <footer class="footer">
      <app-footer></app-footer>
    </footer>-->
  </div>
  <!--<app-plugin></app-plugin>-->
</div>

<app-reconfirm-password></app-reconfirm-password>
