<div class="content">
  <div class="container-fluid">
    <div class="row mt-4" id="viewUsers">
      <div class="col-lg-12">
        <div class="card viewCard">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <div class="float-right">
              <button type="button" (click)="toggleView()" class="btn btn-primary">Create User<div
                class="ripple-container"></div></button>
            </div>
          </div>
          <div class="card-body">
            <div class="toolbar">
              <!--List all clients-->
              List of all FIAP Users
            </div>

            <div class="material-datatables mt-3">
              <div class="text-center mt-5" *ngIf="loadingTable">
                <i class="fa fa-spin fa-spinner fa-5x" style="color: #0a6ebd">

                </i>
              </div>
              <div *ngIf="!loadingTable">
                <table  id="listUsers" class="table table-striped table-no-bordered table-hover text-center"
                        cellspacing="0" width="100%" style="width:100%">
                  <thead>
                  <tr class="">
                    <th class="disabled-sorting no-sort font-weight-bold">S/N</th>
                    <th class="font-weight-bold">First Name</th>
                    <th class="font-weight-bold">Last Name</th>
                    <th class="font-weight-bold">Email</th>
                    <th class="font-weight-bold">Phone Number</th>
                    <th class="font-weight-bold">Address</th>
                    <th class="disabled-sorting text-center no-sort" width="25%"></th>
                  </tr>
                  </thead>
                  <tfoot>
                  <tr>
                    <th>S/N</th>
                    <th class="font-weight-bold">First Name</th>
                    <th class="font-weight-bold">Last Name</th>
                    <th class="font-weight-bold">Email</th>
                    <th class="font-weight-bold">Phone Number</th>
                    <th class="font-weight-bold">Address</th>
                    <th class="text-center"></th>
                  </tr>
                  </tfoot>
                  <tbody *ngIf="clients.length > 0">
                  <tr *ngFor="let client of clients; index as i">
                    <td>{{ i + 1}}</td>
                    <!--<td>{{client?.id}}</td>-->
                    <td>{{client?.firstName}}</td>
                    <td>{{client?.lastName}}</td>
                    <td>{{client?.email}}</td>
                    <td>{{client?.phoneNumber}}</td>
                    <!--<td>{{client?.client_type?.name}}</td>-->
                    <td>{{client?.address}}</td>
                    <td class="text-center">
                      <a href="javascript:void(0)" (click)="editClient(client)"
                         class="btn btn-link btn-warning btn-just-icon edit">
                        <i class="material-icons">edit</i>
                        <div class="ripple-container"></div>
                      </a>
                      <a href="javascript:void(0)" (click)="openDetails(contentDetails, client)" class="btn btn-link btn-primary">
                        <i class="material-icons">visibility</i>
                          View Users
                        <div class="ripple-container"></div>
                      </a>
                    </td>
                  </tr>
                  </tbody>
                  <tbody *ngIf="clients.length < 1">
                  <tr ><td colspan="3">No client available!</td></tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Create Users-->
    <div class="row mt-4" *ngIf="formPage">
      <div class="col-md-6 col-sm-12 offset-md-3">
        <div class="card createCard">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">people</i>
            </div>
          </div>
          <form novalidate (ngSubmit)="saveClient()">
            <div class="card-body">
              <div class="toolbar">
                {{createdDisplay.title}}
              </div>
              <div class="form-group bmd-form-group mb-3 mt-3">
                <label for="firstName" class="">First Name *</label>
                <input type="text" class="form-control" id="firstName" required name="firstName" [(ngModel)]="client.firstName" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group bmd-form-group mb-3">
                <label for="lastName" class="">Last Name *</label>
                <input type="text" class="form-control" id="lastName" required name="lastName"
                       [(ngModel)]="client.lastName" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group bmd-form-group mb-3">
                <label for="email" class="">Client Email Address *</label>
                <input type="email" class="form-control" id="email" [readonly]="updateMode" required name="email" [(ngModel)]="client.email" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group bmd-form-group mb-3">
                <label for="phone" class="">Client Phone Number *</label>
                <input type="tel" class="form-control" id="phone" pattern="[+]{1}[0-9]{11,14}" required
                       name="phoneNumber" [(ngModel)]="client.phoneNumber" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group bmd-form-group mb-3">
                <label for="address" class="">Client Address *</label>
                <input type="text" class="form-control" id="address" required name="address"
                       [(ngModel)]="client.address" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group bmd-form-group mb-3">
                <label for="id" class="">Client Id *</label>
                <input type="text" class="form-control" id="id" [readonly]="updateMode" name="id"
                       [(ngModel)]="client.id" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="category form-category">* Required fields</div>
            </div>
            <div class="card-footer ml-auto mr-auto justify-content-center">
              <button type="submit" class="btn btn-info"
                      [disabled]="!client.firstName || !client.lastName || !client.email || !client.phoneNumber  || !client.address || !client.id || loading">
                {{createdDisplay?.btnTxt}}
                <i class="fa fa-spin fa-spinner" *ngIf="loading"></i>
                <div class="ripple-container"></div>
              </button>
              &nbsp;
              <button type="reset" class="btn btn-secondary" (click)="resetForm()">
                 Cancel
                <div class="ripple-container"></div>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--Create / Edit Users ENDS Here-->

    <!--View Users Starts-->
    <ng-template #contentDetails let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-view-banks">USER INFORMATION FOR ID</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>ID</label>
            <div class="input-group">
              <input id="clientID" class="form-control" readonly>
            </div>
          </div>
          <div class="form-group">
            <label>First Name</label>
            <div class="input-group">
              <input id="clientFirstName" class="form-control" readonly>
            </div>
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <div class="input-group">
              <input id="clientLastName" class="form-control" readonly>
            </div>
          </div>
          <div class="form-group">
            <label>Email</label>
            <div class="input-group">
              <input id="clientEmail" class="form-control" readonly>
            </div>
          </div>
          <div class="form-group">
            <label>Client Phone Number</label>
            <div class="input-group">
              <input id="clientPhoneNumber" class="form-control" readonly>
            </div>
          </div>
          <div class="form-group">
            <label>Client Address</label>
            <div class="input-group">
              <input id="clientAddress" class="form-control" readonly>
            </div>
          </div>
          <div class="form-group">
            <label>Client Status</label>
            <div class="input-group">
              <input id="clientStatus" class="form-control" readonly>
            </div>
          </div>
          <div class="form-group">
            <label>Client Login Status</label>
            <div class="input-group">
              <input id="clientLoginStatus" class="form-control" readonly>
            </div>
          </div>
          <div class="form-group">
            <label>Password Expired </label>
            <div class="input-group">
              <input id="clientPasswordExpired" class="form-control" readonly>
            </div>
          </div>
          <div class="form-group">
            <label>Password Expiration Days Remaining</label>
            <div class="input-group">
              <input id="clientPasswordExpirationDaysRemaining" class="form-control" readonly>
            </div>
          </div>
          <div class="form-group">
            <label>Created By</label>
            <div class="input-group">
              <input id="clientCreatedBy" class="form-control" readonly>
            </div>
          </div>
          <div class="form-group">
            <label>Client Creator</label>
            <div class="input-group">
              <input id="clientCreator" class="form-control" readonly>
            </div>
          </div>
          <div class="form-group">
            <label>Client Last Updated By</label>
            <div class="input-group">
              <input id="clientLastUpdatedBy" class="form-control" readonly>
            </div>
          </div>
          <div class="form-group">
            <label>Client Approved</label>
            <div class="input-group">
              <input id="clientApproved" class="form-control" readonly>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">Close</span>
        </button>
      </div>
    </ng-template>
    <!--View Users ENDS Here-->

  </div>
</div>
