<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats userCard">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">people</i>
            </div>
            <p class="card-category">Users</p>
            <h3 class="card-title" *ngIf="clients">
              <span>
                 {{clients}}
                <b class="caret"></b>
              </span>
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <span class="material-icons">verified_user</span>
              <!--<a href="javascript:void(0)" [routerLink]="['/admin/manage-clients']">Manage Clients</a>-->
              <a href="javascript:void(0)" [routerLink]="['/admin/manage-clients']">Manage Users</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 auditCard">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">input</i>
            </div>
            <p class="card-category">Audit Log</p>
            <h3 class="card-title">
              <span *ngIf="audits">
                 {{audits}}
                <b class="caret"></b>
              </span>
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">description</i>
              <a href="javascript:void(0)" [routerLink]="['/admin/audit-trail']">Audit Trail</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 bankCard">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">account_balance_wallet</i>
            </div>
            <p class="card-category">Banks</p>
            <h3 class="card-title">
              <span *ngIf="banks">
                 {{banks}}
                <b class="caret"></b>
              </span>
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">account_balance</i>
              <a href="javascript:void(0)" [routerLink]="['/admin/manage-banks']">Manage Banks</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <app-widget-area [data]="bigChart"></app-widget-area>
    </div>

    <mat-divider></mat-divider>

    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="17px" class="stats-cards" style="margin:15px 0;">
      <mat-card fxFlex="60">
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">
            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="bank">
              <th mat-header-cell *matHeaderCellDef> Bank </th>
              <td mat-cell *matCellDef="let element"> {{element.bank}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef> Amount </th>
              <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef> Date </th>
              <td mat-cell *matCellDef="let element"> {{element.date}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="example-element-header"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
        <!--<app-transaction-tables></app-transaction-tables>-->
      </mat-card>

      <mat-card fxFlex="40">
        <app-widget-pie [data]="pieChart"></app-widget-pie>
      </mat-card>
    </div>

    <!--<mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>-->

    <!--<mat-divider></mat-divider>-->

  </div>
</div>
