<div class="content">
  <div class="container-fluid mt-sm-5 pt-sm-5">

    <div class="row">
      <div class="col-md-6 col-sm-12 offset-md-3 mt-5">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">vpn_key</i>
            </div>
            <h4 class="card-title">Change my password</h4>
          </div>
          <form novalidate (ngSubmit)="updatePassword()">
          <div class="card-body mt-3">

              <div class="form-group bmd-form-group">
                <label for="email-address" class="bmd-label-floating">Email Address</label>
                <input type="email" id="email-address" class="form-control" required
                        [(ngModel)]="passwordCredential.email" #email="ngModel" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group bmd-form-group">
                <label for="input-password" class="bmd-label-floating">Previous Password</label>
                <input type="password" id="input-password" class="form-control" required
                        [(ngModel)]="passwordCredential.oldPassword" #oldPassword="ngModel"
                        [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group bmd-form-group">
                <label for="input-new-password" class="bmd-label-floating">New Password</label>
                <input type="password" id="input-new-password" class="form-control" required
                       [(ngModel)]="passwordCredential.password" #password="ngModel" [ngModelOptions]="{standalone: true}">
              </div>
          </div>
          <div class="card-footer justify-content-center">
            <button class="btn btn-fill btn-rose" type="submit"  *ngIf="!loading" [disabled]="email.errors  || oldPassword.errors || password.errors">Update Password</button>
            <button class="btn btn-fill btn-rose" type="button" disabled *ngIf="loading"><i class="fa fa-spin fa-spinner"></i></button>
          </div>
          </form>
        </div>
      </div>
    </div>



  </div>
</div>


